# Dependencies
node_modules/

# Build output
dist/
dist/index.html
dist/sw.js

build/
out/
coverage/

/dist

# Environment variables
.env
.env.*
!.env.example

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Editor files
*.swp
*.swo
*~

# Cache
.cache/
.parcel-cache/
.eslintcache
*.tsbuildinfo

# Misc
tmp/
temp/
# Local Netlify folder
.netlify
